<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="Source"/>
    <add key="destinationFolder" value="Destination"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SAGE_CCINTMXSUPPLIERSSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="SAGE_CCINTMXSUPPLIERSSOAP11Binding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:9080/meaweb/services/SAGE_CCINTMXSUPPLIERS"
        binding="basicHttpBinding" bindingConfiguration="SAGE_CCINTMXSUPPLIERSSOAP11Binding"
        contract="MaximoServiceReference.SAGE_CCINTMXSUPPLIERSPortType"
        name="SAGE_CCINTMXSUPPLIERSSOAP11Port" />
    </client>
  </system.serviceModel>
</configuration>